<header>
	<div class="a-bar">
		<a href="javascript:history.back()" class="a-back">
           	<i class="arr left"></i>
            返回
		</a>
		<div class="a-name">
			售后申请详情
		</div>
	</div>
</header>
<div class="full-screen">
	<div class="m-after rec-after">
		<div class="section s-after ">
			<p class="s-head">售后状态</p>
			<ul class="rec-list">
				<li class="list-info">
					<div class="info-wrap">
						<p class="rec-time">2015-06-18  14:50</p>
						<p class="rec-cont">您的售后请求已经初步审核通过，请将商品寄到XX</p>
					</div>
				</li>
				<li class="list-info">
					<div class="info-wrap">
						<p class="rec-time">2015-06-18  14:50</p>
						<p class="rec-cont">售后服务人员已经将商品寄回</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="section s-after">
			<p class="s-head">售后主题</p>
			<p class="rec-info">就是不想要了</p>
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</div>

		<div class="section s-after ">
			<p class="s-head">售后申请商品详情</p>
			<ul class="after-list">
				<li class="after-item">
					<div class="g-line">
						<div class="gline-img">
							<a href="">
								<img src="http://pic.shopex.cn/pictures/eimages/94d3b90c01aa4d852012fc60ef4c84c2525fdc0319.png?1287134527#w" alt="">
							</a>
						</div>
						<div class="gline-info">
							<p class="gname">好吃的不得了的喜之郎果肉果冻哦3袋4袋包装</p>
							<p class="gnumber">口味：五香</p>
							<div class="gnum">x2</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
