<app version="1.0">
  <name>预售</name>

  <description>shopex 预售系统</description>

  <author>
      <name>shopex开发团队</name>
      <email>dev@shopex.cn</email>
      <url>www.shopex.cn</url>
  </author>

  <version>0.2</version>

  <license>license</license>
  <parent_model_class>dbeav_model</parent_model_class>
  <depends>

    <app>b2c</app>
  </depends>

</app>
